h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size:100px; 
  padding-left: 25px;
  padding-bottom: 0px;
  text-align: left;
  line-height: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size:32px;
  font-weight: 800;
  text-align: left;
}

body {
    margin: 0;
    font-family:'Montserrat','Open Sans','Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 200;
    padding-right: 60px;
    color: #000000;
    background-color:#FFFFFF;
    margin-left: 20px; 
}

a{
  color: #008080;
  cursor: pointer;
  font-weight: bold;
}

a:hover {
  color: white;
  background-color:#008080;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.section {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  padding-top: 0px;
}

.interact {
    border: 1px dotted #000000;
    flex: 1;
    height: 600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
  }

.square1 {
    display:inline-block;
    height: 20px;
    width: 20px;
    background-color: #84CBCB;
  }

  .square2 {
    display:inline-block;
    height: 20px;
    width: 20px;
    background-color: #008080;
  }

  .square3 {
    display:inline-block;
    height: 20px;
    width: 20px;
    background-color: #000000;
  }

.button {
    border: none;
    color: black;
    padding: 16px 32px;
    font-family:'Montserrat','Open Sans','Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2.5px;
    margin: 4px 2px;
    transition-duration: 0.7s;
    cursor: pointer;
  }

.button:hover {
    background-color: #008080;
    color: white;
  }

  .button:focus {
    background-color: black;
    color: white;
  }

.section svg {
  flex: 2;
  height: 600px;
  margin: 10px;
}

.dots {
  opacity: 0.75;
}

  .dots:hover {
    opacity: 1;
    stroke: red;
}

#tooltip {
    background-color: white;
    border: 1px solid black;
    display: none;
    padding: 5px;
    position: absolute;
  }

@media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
    h1 {
      font-size:60px; 
      line-height: 100%;
    }
  }